.content-controls {
    overflow: hidden;
    height: 410px;
    @media screen and (min-width: 768px) {
        flex: 2 2;
        margin: 0 10px;
    }
    @media screen and (max-width: 767px) {
        max-height: 310px;
        margin-bottom: 10px;
    }
    .list {
        @include column;
        height: 100%;
    }
    .item {
        &:not(:last-child) {
            padding-bottom: 10px;
        }
        @media screen and (min-width: 768px) {
            height: 25%;
            &:last-child {
                margin-bottom: 0;
            }
        }
        @include center-all;
    }
    .btn {
        width: 100%;
        height: 100%;
        background: #F88451;
        @include btn-hover(#F88451);
        @media screen and (max-width: 767px) {
            min-height: 70px;
        }
    }

}