.main-controls {
    display: inline-block;
    flex: 0 0 120px;
    .list {
        display: flex;
        height: 100%;
        flex-direction: column;
    }
    .item {
        overflow: hidden;
        
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
    .btn {
        background: #36CAE8;
        font-size: 1.4rem;
        color:$color_white;
        width: 100%;
        height: 130px;
        @include center-x;
        justify-content: flex-end;
        flex-direction: column;
        padding: 10px 0;
        @include btn-hover(#36CAE8);
        position: relative;
        overflow: hidden;
        &::before {
            content: '';
            font: {
                family: $font_ico;
                size: 6rem;
            }
            padding: 5px 0;
            color:inherit;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            @include center-y;
            height: 70px;
        }
        &.active {
            @include btn-active(#36CAE8);
        }
    }
    .car .btn{
        &::before {
            content: "\e902";
        }
    }
    .movie .btn{
        &::before {
            content: "\e900";
        }
    }
    .location .btn{
        &::before {
            content: "\e901";
        }
    }
    // .btn-value {
    //     width: 100%;
    // }
}